h1{
    color: blue;
    font-size: 60px;
    text-align: center;
    line-height: 2;

}
body{
    background-color: papayawhip;
}
img{
    width: 400px;
}
#thirdDiv {
width: 500;
height: 600;
background-color: rgb(235, 163, 104);
padding: 50px;
border: 10px solid black;
  
}
#spanId{
font-size: 18px;
margin: 50px;
}
